.card {
    background-color: var(--white);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
    overflow: hidden;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15));
}

.imgCard {
    object-fit: cover;
    width: 100%;
    height: 250px;
    transition: .5s;
    position: relative;
}

.category{
    position:absolute;
    top: 222px;
    right: 0px;
    color: var(--white);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 8px;
}

.textCard {
    padding: 6px;
    color: var(--text1);
    line-height: 1.5;
    text-align: center;
}

.textCard .border {
    padding: 0px 12px 5px 12px;
    border: 1.2px solid var(--text1);
}

.textCard .titleCard {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.textCard .titleCard a{
    font-size: 18px;
    text-decoration: none;
    color: var(--text1);
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.textCard .footer{
    height: 15px;
    display: flex;
}

.textCard .footer p{
    margin: 0px;
    color: rgba(80, 93, 104, 0.7);
}

.textCard .footer svg{
    margin-top: 1px;
}

.textCard .social{
    width: 50%;
    display: flex;
}

.textCard .social .data{
    margin-right: 10px;
}

.textCard .date{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


