* {
    box-sizing: border-box;
}

:root {
    
    --white: #FFFFFF;
    --black: #000000;
    --main: #B6D4DB;

    --text1: #505D68;

    /*btn*/
    --green-darker: #228a3a;
    --green: #28a745;
    --red-darker: #c02e3d;
    --red: #f13a4d;
    --blue-darker: #2c62cc;
    --blue: #377bff;

    /*alerts*/
    --alert-danger-back: #F8D7DA;
    --alert-danger-font: #BE7C82;

    --alert-success-back: #D1E7DD;
    --alert-success-font: #558871;

    --alert-primary-back: #CFE2FF;
    --alert-primary-font: #5782C1;

    --creat-large-scree: 88%;
    --creat-small-scree: 100%;

    /*dashboard*/
    --dashboard-color: #e5e5e5;
}

body {
    background-color: var(--main);
    font: normal 8pt verdana, helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

p, h1 {
    color: var(--text1);
}
