* {
    box-sizing: border-box;
}

:root {
    --title-card-color: #333333;
    
    --white: #FFFFFF;
    --black: #000000;
    --main: #B6D4DB;
    --main2: #505D68;

    --or: #F4E187;

    --text1: #505D68;
    --text2: #879bad;

    /*btn*/
    --green-darker: #228a3a;
    --green: #28a745;
    --red-darker: #c02e3d;
    --red: #f13a4d;
    --blue-darker: #2c62cc;
    --blue: #377bff;

    /*alerts*/
    --alert-danger-back: #F8D7DA;
    --alert-danger-font: #BE7C82;

    --alert-success-back: #D1E7DD;
    --alert-success-font: #558871;

    --alert-primary-back: #CFE2FF;
    --alert-primary-font: #5782C1;

    --creat-large-scree: 88%;
    --creat-small-scree: 100%;

    /*dashboard*/
    --dashboard-color: #e5e5e5;
}

body {
    background-color: var(--main);
    font: normal 8pt verdana, helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

@font-face {
	font-family: "mvboli";
	src: url('fonts/mvboli.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "lato-normal";
	src: url('fonts/lato/Lato-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "lato-lighter";
	src: url('fonts/lato/Lato-Thin.ttf');
	font-weight: lighter;
}

@font-face {
	font-family: "lato-bold";
	src: url('fonts/lato/Lato-Bold.ttf');
	font-weight: bolder;
}

p, h1, h2, a {
    font-family: 'lato-normal';
}

h1, h2 {
    color: var(--text1);
}
p, a {
    color: var(--text2);
}
