* {
    box-sizing: border-box;
}

:root {
    --text-color: #272727; /*couleure du text*/
    --back-color: #f3efef; /*couleure du du font*/
    --card-color: white;
    --hr-color: #dbd4d4;
    --hover-color: #cf2e06;
    --active-color: var(--hover-color);
    --gray-darker: #696969;
    --gray: #999999;
    --gray-lighter: #cccccc;
    --green-darker: #228a3a;
    --green: #28a745;
    --red-darker: #c02e3d;
    --red: #f13a4d;
    --blue-darker: #2c62cc;
    --blue: #377bff;

    --alert-danger-back: #F8D7DA;
    --alert-danger-font: #BE7C82;

    --alert-success-back: #D1E7DD;
    --alert-success-font: #558871;

    --alert-primary-back: #CFE2FF;
    --alert-primary-font: #5782C1;

    --creat-large-scree: 88%;
    --creat-small-scree: 100%;
}

body {
    background-color: var(--back-color);
    font: normal 8pt verdana, helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

h1 {
    font-size:x-large;
    color: var(--text-color);
}