@import url("/style/commun/commun.css");
@import url("/style/commun/btn.css");
@import url("/style/commun/alert.css");

:root {
    --border-radius: 1em;
}

.container {
    padding: 20px 20px 40px 20px;
    background-color: var(--white);
    width: 1100px;
    margin: 0px auto;
}

.nav {
    font-size: medium;
	display: block;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.nav ul{
	display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.nav ul li{
	list-style: none;
    padding: 0px 20px 0px 0px;
}

.nav ul li a{
	text-decoration: none;
	font-family: 16px 'inter', sans-serif;
    color: var(--text-color);
    transition: 300ms;
}

.nav ul li .active {
	color: var(--active-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

thead {
    color: white;
}

thead tr {
    background-color: var(--title-card-color);
    border-bottom-style: hidden;
}

thead td {
    font-size: 14px;
    border-bottom-style: outset;
}

td {
    padding: 10px;
    /* border-bottom-style: ridge; */
}

.posts tbody tr:nth-child(2n+2) {
    background-color: #f5f5f5;
}

.table .actions{
    display: flex;
    align-items: center;
}

.posts{
    width: 100%;
    margin: 20px 0 40px 0;
}
  
.posts thead td:nth-child(1) {
    width: 5%;
}

.container thead td:nth-child(2) {
    width: 12%;
}

.posts thead td:nth-child(3) {
    width: 48%;
}

.posts thead td:nth-child(4) {
    width: 10%;
}

.posts thead td:nth-child(5) {
    width: 25%;
}

.flexRow {
    display: flex;
    width: 100%;
}

.flexRow .spaceVer {
    width: 15px;
}



@media only screen and (max-width: 1100px){

    .container {
        width: 770px;
    }

    .posts .table .actions{
        flex-direction: column;
    }
    .posts{
        width: 660px;
        margin: 20px auto 40px auto;
    }

    .posts thead td:nth-child(1) {
        width: 8%;
    }

    .posts thead td:nth-child(2) {
        width: 12%;
    }

    .posts thead td:nth-child(3) {
        display: 30%;
    }

    .posts thead td:nth-child(4) {
        display: none;
    }
    .posts tbody td:nth-child(4) {
        display: none;
    }

    .posts thead td:nth-child(5) {
        width: 13%;
    }
}

@media only screen and (max-width: 770px){

    .container {
        padding: 20px 10px 40px 10px;
        width: 425px;
    }

    .table .actions{
        flex-direction: column;
    }
    .posts{
        width: 360px;
        margin: 20px auto 40px auto;
    }

    .posts thead td:nth-child(1) {
        width: 14%;
    }
    
    .posts thead td:nth-child(2) {
        width: 48%;
    }
    
    .posts thead td:nth-child(3) {
        display: none;
    }
    .posts tbody td:nth-child(3) {
        display: none;
    }
    
    .posts thead td:nth-child(5) {
        width: 38%;
    }
    
    .btn_success {
        margin: 1px;
    }
    .btn_danger {
        margin: 1px;
    }
    .btn_primary {
        margin: 1px;
    }
}

@media only screen and (max-width: 425px){
    .container {
        width: 100%;
    }
    .posts{
        width: auto;
    }
}