* {
    box-sizing: border-box;
}

:root {
    --text-color: #272727; /*couleure du text*/
    --back-color: #fcfcfc; /*couleure du du font*/
    --card-color: white;
    --hr-color: #eeeded;
    --hover-color: #cf2e06;
    --active-color: var(--hover-color);
    --gray-darker: #696969;
    --gray: #999999;
    --gray-lighter: #cccccc;

    --creat-large-scree: 88%;
    --creat-small-scree: 100%;

  }

body {
    background-color: var(--back-color);
    font: normal 8pt verdana, helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*------Menu------*/

nav {
    font-size: medium;
	display: block;
    width: 100%;
    padding: 32px 62px 24px 62px;
}

nav ul{
	display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav ul li{
	list-style: none;
    padding: 0px 25px 0px 25px;
}

nav ul li a{
	text-decoration: none;
	font-family: 16px 'inter', sans-serif;
    color: var(--text-color);
    transition: 300ms;
}

nav ul li a:hover {
	color: var(--hover-color);
    transition: 300ms;
}

nav ul li .active {
	color: var(--active-color);
}

/*
.home::before {
	display: inline-block;
	content: '';
	width: 15px;
	height: 15px;
	background: url(/img/DeleteR.png) center center / contain no-repeat;
	margin-right: 5px;
	transform: translateY(2px);
	transition-duration: 0.5s;
}
*/

/*------Menu------*/

hr {
	width: 95%;
	border:none;
	background: var(--hr-color);
	height: 1px;
    margin: 0px auto, 0px, auto;
}

/*------CreationIndex------*/

.creationIndex {
    margin: 20px 3% 10px 3%;
    display: flex;
}

.creationIndex .introCreation{
    width: 64%;
    font-size: 1.25rem;
}

.creationIndex .cards {
    width: var(--creat-large-scree);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
    margin: 10px;
    padding: 0;
}

.creationIndex .cards .red{
    color: var(--hover-color);
}

.creationIndex .card {
    background-color: var(--card-color);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-bottom: 20px;
}

.creationIndex .imgCard {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
}

.creationIndex .textCard {
    padding: 1rem 1rem 0rem 1rem;
    color: var(--gray);
    line-height: 1.5;
}

.creationIndex .textCard .titleCard {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.creationIndex .textCard .titleCard a{
    text-decoration: none;
    color: var(--gray-darker);
}

.creationIndex .textCard .category {
    margin-top: 1px;
    color: var(--gray-lighter);
}

.creationIndex .textCard .btnCard {
    background-color: white;
    color: var(--gray);
    border: 1px solid var(--gray-lighter);
    display: block;
    width: 100%;
    align-self: flex-end;
    transition: 300ms;
}

.creationIndex .textCard .btnCard:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    transition: 300ms;
}

.creationIndex .hrVer {
	width: 1px;
	border:none;
	background: var(--hr-color);
	height: auto;
    margin: 0px 20px 0px 20px;
}

.creationIndex .categories {
    padding-left: 0px;
}

.creationIndex .categories .titleCategories {
    color: var(--gray-darker);
    font-size: large;
}

.creationIndex .categories .category{
    list-style: none;
}

.creationIndex .categories .category a{
    text-decoration: none;
    color: var(--gray);
    transition: 300ms;
}

.creationIndex .categories .category a:hover{
    color: var(--hover-color);
    transition: 300ms;
}

/*------CreationIndex------*/


/*------Build------*/
.admin{
    margin-top: 30px;
}

.build {
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction:row;
}

.build h1{
    margin: auto 30px auto 30px;
    color: #242424;
}

.build .svg{
    margin-left: 100px;
}
/*------Build------*/




@media only screen and (max-width: 800px){
    /*------Menu------*/
    nav {
        padding: 32px 22px 24px 22px;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

    nav ul li{
        padding: 0px 0px 0px 0px;
    }
    /*------Menu------*/

    /*------Creation------*/

    .creationIndex .introCreation{
        width: 100%;
    }

    .creationIndex .cards {
        width: var(--creat-small-scree);
        margin: 10px 5px 10px 5px;
    }

    .creationIndex .card {
        width: 100%;
        box-sizing: border-box;
    }

    .creationIndex .hrVer {
        /*margin: 0px 8px 0px 8px;*/
        display: none;
    }

    .creationIndex .categories {
        display: none;
    }

    /*------Creation------*/

    /*------Build------*/
    .build {
        margin: 0px;
    }

    .build h1{
        font-size: small;
        margin: auto 10px auto 0px;
        color: #242424;
    }

    .build .svg{
        margin-left: 10px;
    }

    .build .crane{
        margin-left: 0px;
        width: 150px;
    }
    /*------Build------*/
}