* {
    box-sizing: border-box;
}

:root {
    --text-color: #272727; /*couleure du text*/
    --back-color: #fcfcfc; /*couleure du du font*/
    --card-color: white;
    --hr-color: #eeeded;
    --hover-color: #cf2e06;
    --active-color: var(--hover-color);
    --gray-darker: #696969;
    --gray: #999999;
    --gray-lighter: #cccccc;
    --green-darker: #228a3a;
    --green: #28a745;
    --red-darker: #c02e3d;
    --red: #f13a4d;
    --blue-darker: #2c62cc;
    --blue: #377bff;

    --creat-large-scree: 88%;
    --creat-small-scree: 100%;

}

.red{
    color: var(--hover-color);
}

/* BTN */
.btn_success {
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    display: block;
    width: 100px;
    height: 30px;
    align-self: flex-end;
    border-radius: 5px;
    transition: 300ms;
    margin: 5px 5px 5px 5px;
}

.btn_success:hover {
    color: var(--back-color);
    background-color: var(--green-darker);
    border: 1px solid var(--green-darker);
    transition: 300ms;
}

.btn_danger {
    background-color: transparent;
    color: var(--red);
    border: 1px solid var(--red);
    display: block;
    width: 100px;
    height: 30px;
    align-self: flex-end;
    border-radius: 5px;
    transition: 300ms;
    margin: 5px 5px 5px 5px;
}

.btn_danger:hover {
    color: var(--back-color);
    background-color: var(--red-darker);
    border: 1px solid var(--red-darker);
    transition: 300ms;
}

.btn_primary {
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    display: block;
    width: 100px;
    height: 30px;
    align-self: flex-end;
    border-radius: 5px;
    transition: 300ms;
    margin: 5px 5px 5px 5px;
}

.btn_primary:hover {
    color: var(--back-color);
    background-color: var(--blue-darker);
    border: 1px solid var(--blue-darker);
    transition: 300ms;
}

/* BTN */
/* FORM */

.form-control {
    width: 100%;
}

.text-area {
    width: 100%;
    height: 180px;
}

.text-input {
    width: 100%;
}

label{
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--gray-darker);
}

input, textarea, select {
    padding:10px;
    margin-top: 8px;
    border:1px solid var(--gray-darker);
    border-radius:5px;
}

/* FORM */

.space {
    height: 10px;
}

/*-------------------------------------------------------------------------------------*/

body {
    background-color: var(--back-color);
    font: normal 8pt verdana, helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

h1 {
    font-size:x-large;
    color: var(--text-color);
}

/*------Menu------*/

nav {
    font-size: medium;
	display: block;
    width: 100%;
    padding: 32px 62px 24px 62px;
}

nav ul{
	display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav ul li{
	list-style: none;
    padding: 0px 25px 0px 25px;
}

nav ul li a{
	text-decoration: none;
	font-family: 16px 'inter', sans-serif;
    color: var(--text-color);
    transition: 300ms;
}

nav ul li a:hover {
	color: var(--hover-color);
    transition: 300ms;
}

nav ul li .active {
	color: var(--active-color);
}

/*
.home::before {
	display: inline-block;
	content: '';
	width: 15px;
	height: 15px;
	background: url(/img/DeleteR.png) center center / contain no-repeat;
	margin-right: 5px;
	transform: translateY(2px);
	transition-duration: 0.5s;
}
*/

/*------Menu------*/

hr {
	width: 93%;
	border:none;
	background: var(--hr-color);
	height: 1px;
    margin: 0px auto, 0px, auto;
}

/*------CreationIndex------*/

.creationIndex {
    margin: 20px 3% 10px 3%;
    display: flex;
}

.creationIndex .introCreation{
    width: 64%;
    font-size: 1.25rem;
}

.creationIndex .cards {
    width: var(--creat-large-scree);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
    margin: 10px;
    padding: 0;
}

.creationIndex .cards .introCreation h1 {
    font-size: 45px;
}

.creationIndex .card {
    background-color: var(--card-color);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-bottom: 20px;
}

.creationIndex .imgCard {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
}

.creationIndex .textCard {
    padding: 1rem 1rem 0rem 1rem;
    color: var(--gray);
    line-height: 1.5;
}

.creationIndex .textCard .titleCard {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.creationIndex .textCard .titleCard a{
    text-decoration: none;
    color: var(--gray-darker);
}

.creationIndex .textCard .category {
    margin-top: 1px;
    color: var(--gray-lighter);
}

.creationIndex .textCard .btnCard {
    background-color: white;
    color: var(--gray);
    border: 1px solid var(--gray-lighter);
    display: block;
    width: 100%;
    align-self: flex-end;
    transition: 300ms;
}

.creationIndex .textCard .btnCard:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    transition: 300ms;
}

.creationIndex .hrVer {
	width: 1px;
	border: none;
	background: var(--hr-color);
	height: auto;
    margin: 0px 20px 0px 20px;
}

.creationIndex .categories {
    padding-left: 0px;
    position: absolut;
}

.creationIndex .categories .titleCategories {
    color: var(--gray-darker);
    font-size: large;
}

.creationIndex .categories .contentCategories{
    position: sticky;
    top: 40px;
}

.creationIndex .categories .category{
    list-style: none;
}

.creationIndex .categories .category a{
    text-decoration: none;
    color: var(--gray);
    transition: 300ms;
}

.creationIndex .categories .category a:hover{
    color: var(--hover-color);
    transition: 300ms;
}

.creationIndex .categories .category .active {
	color: var(--active-color);
}

/*------CreationIndex------*/
/*------CreationAdmin------*/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table .actions{
    display: flex;
    align-items: center;
}

td {
padding: 20px;
border-bottom-style: ridge;
}

thead td {
    font-size: large;
    border-bottom-style: outset;
}

.navCreationAdmin {
    font-size: medium;
	display: block;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.navCreationAdmin ul{
	display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navCreationAdmin ul li{
	list-style: none;
    padding: 0px 20px 0px 0px;
}

.navCreationAdmin ul li a{
	text-decoration: none;
	font-family: 16px 'inter', sans-serif;
    color: var(--text-color);
    transition: 300ms;
}

.navCreationAdmin ul li a:hover {
	color: var(--hover-color);
    transition: 300ms;
}

.navCreationAdmin ul li .active {
	color: var(--active-color);
}

.contentCreativAdmin {
    padding: 20px 60px 40px 60px;
}

        /*Specifique creationArticleAdmin*/

.creationArticleAdmin{
    width: 1000px;
    margin: 20px auto 40px auto;
}
  
.creationArticleAdmin thead td:nth-child(1) {
    width: 5%;
}

.creationArticleAdmin thead td:nth-child(2) {
    width: 12%;
}

.creationArticleAdmin thead td:nth-child(3) {
    width: 44%;
}

.creationArticleAdmin thead td:nth-child(4) {
    width: 15%;
}

.creationArticleAdmin thead td:nth-child(5) {
    width: 24%;
}

        /*Specifique creationArticleAdmin*/
        /*Specifique creationCategoryAdmin*/

.creationCategoryAdmin{
    width: 600px;
    margin: 20px auto 40px auto;
}
  
.creationCategoryAdmin thead td:nth-child(1) {
width: 20%;
}

.creationCategoryAdmin thead td:nth-child(2) {
width: 40%;
}

.creationCategoryAdmin thead td:nth-child(3) {
width: 40%;
}

        /*Specifique creationCategoryAdmin*/

.flexRow {
    display: flex;
    width: 100%;
}

.flexRow .spaceVer {
    width: 15px;
}

        /*Editer*/

.contentCreationEdit {
    width: 500px;
    margin: 40px auto 0px auto
}

.contentCreationEdit p {
    width: 100%;
}

.contentCreationEdit .btn_primary {
    margin: 15px 0px 0px auto;
}

        /*Editer*/
        /*Ajouter*/

.contentCreationAdd {
    width: 500px;
    margin: 40px auto 0px auto

}

.contentCreationAdd p {
    width: 100%;
}

.contentCreationAdd .btn_primary {
    margin: 15px 0px 0px auto;
}

        /*Ajouter*/

/*------CreationAdmin------*/




/*------Build------*/
.admin{
    margin-top: 30px;
}

.build {
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction:row;
}

.build h1{
    margin: auto 30px auto 30px;
    color: #242424;
}

.build .svg{
    margin-left: 100px;
}
/*------Build------*/
















@media only screen and (max-width: 1200px){

    /*------CreationAdmin------*/


    
    .creationArticleAdmin .table .actions{
        flex-direction: column;
    }

            /*Specifique creationArticleAdmin*/
    .creationArticleAdmin{
        width: 660px;
        margin: 20px auto 40px auto;
    }

    .creationArticleAdmin thead td:nth-child(1) {
        width: 8%;
    }
    
    .creationArticleAdmin thead td:nth-child(2) {
        width: 12%;
    }
    
    .creationArticleAdmin thead td:nth-child(3) {
        display: 30%;
    }
    
    .creationArticleAdmin thead td:nth-child(4) {
        display: none;
    }
    .creationArticleAdmin tbody td:nth-child(4) {
        display: none;
    }
    
    .creationArticleAdmin thead td:nth-child(5) {
        width: 13%;
    }

}
















@media only screen and (max-width: 800px){
    /*------Menu------*/
    nav {
        padding: 32px 22px 24px 22px;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

    nav ul li{
        padding: 0px 0px 0px 0px;
    }
    /*------Menu------*/

    /*------Creation------*/

    .creationIndex .introCreation{
        width: 100%;
    }

    .creationIndex .cards {
        width: var(--creat-small-scree);
        margin: 10px 5px 10px 5px;
    }

    .creationIndex .card {
        width: 100%;
        box-sizing: border-box;
    }

    .creationIndex .hrVer {
        /*margin: 0px 8px 0px 8px;*/
        display: none;
    }

    .creationIndex .categories {
        display: none;
    }

    /*------Creation------*/
    /*------CreationAdmin------*/

    .contentCreativAdmin {
        padding: 20px 10px 40px 10px;
    }

    .table .actions{
        flex-direction: column;
    }

            /*Specifique creationArticleAdmin*/
    .creationArticleAdmin{
        width: 360px;
        margin: 20px auto 40px auto;
    }

    .creationArticleAdmin thead td:nth-child(1) {
        width: 30%;
    }
    
    .creationArticleAdmin thead td:nth-child(2) {
        width: 42%;
    }
    
    .creationArticleAdmin thead td:nth-child(3) {
        display: none;
    }
    .creationArticleAdmin tbody td:nth-child(3) {
        display: none;
    }
    
    .creationArticleAdmin thead td:nth-child(5) {
        width: 28%;
    }
            /*Specifique creationArticleAdmin*/
            /*Specifique creationCategoryAdmin*/

    .creationCategoryAdmin{
        width: 360px;
        margin: 20px auto 40px auto;
    }
    
    .creationCategoryAdmin thead td:nth-child(1) {
    width: 30%;
    }

    .creationCategoryAdmin thead td:nth-child(2) {
    width: 42%;
    }

    .creationCategoryAdmin thead td:nth-child(3) {
    width: 28%;
    }
            /*Specifique creationCategoryAdmin*/

    .btn_success {
        margin: 1px;
    }
    .btn_danger {
        margin: 1px;
    }
    .btn_primary {
        margin: 1px;
    }

    .text-area {
        height: 300px;
    }

    .contentCreationEdit {
        width: 350px;
    }

    .contentCreationAdd {
        width: 350px;
    }

    /*------CreationAdmin------*/

    /*------Build------*/
    .build {
        margin: 0px;
    }

    .build h1{
        font-size: small;
        margin: auto 10px auto 0px;
        color: #242424;
    }

    .build .svg{
        margin-left: 10px;
    }

    .build .crane{
        margin-left: 0px;
        width: 150px;
    }
    /*------Build------*/
}