@import url("/style/commun/form.css");
@import url("/style/commun/btn.css");

.loginStyle {
    background-image: url('/img/login.png');
    background-position: -100px;
}

.contentLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentLogin .btn_success {
    margin: 20px 0px 0px auto;
}


@media only screen and (max-width: 1200px){

    .loginStyle {
        background-position: -200px;
    }
}

@media only screen and (max-width: 800px){
    .loginStyle {
        background-position: -500px -200px;
    }

    .contentLogin {
        align-items: inherit;
        margin-top: 100px;
    }
}