@import url("/stylePortfolio/commun/commun.css");

html, body, .body {
	height: 100%;
    margin: 0;
}

footer {
    display: none;
}

body {
    position: relative;
    overflow: hidden;
}

.body {
    background-color: #EAEAEA;
    padding-left: 5%;
    padding-right: 5%;
}

h1, h2, p, a {
    color: var(--colorTextAcueil);
}

.navbar {
    background-color: var(--colorNavBar);
}

.navbar ul li a{
    color: var(--colorTextAcueil);
}

.logoNav svg{
    fill: var(--colorTextAcueil);
}

nav {
    /* border: 1px solid #D1E1EE; */
    color: var(--colorTextAcueil);
    font-family: 'lato-light';
    display: flex;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    /* border: 1px solid #D1E1EE; */
    width: 60%;
    justify-content: space-between;
    padding: 0;
}

.containe {
    display: flex;
	height: calc(100% - 92px);
}

.description {
    width: 50%;
    margin: 8% 0 0 0;
    padding-right: 60px;
}

.description .right{
    text-align: end;
    white-space:nowrap;
}

.description h1 {
    font-size: 48px;
    letter-spacing: 0.27em;
    margin: 0;
}

.description .firstName{
    margin-bottom: 30px;
}

.description .lastName{
    margin-right: 60px;
}

.description p {
    font-size: 30px;
    margin-right: 140px;
}

.description .seeMore{
    text-decoration: none;
    color: #4B6051;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.image {
    width: 50%;
    /* border: 1px solid #D1E1EE; */
    display: flex;
    justify-content: right;
    position: relative;
}

.image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: 50% 0;
    padding-bottom: 20px;
}

@media screen and (max-width: 1440px) {

    .description h1 {
        font-size: 48px;
    }
    
    .description p{
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {


    .description h1 {
        font-size: 38px;
    }

    .description p, nav{
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {

    .description h1 {
        font-size: 30px;
    }

    .description p, nav{
        font-size: 13px;
    }

    nav ul {
        width: 70%;
    }
}

@media screen and (max-width: 630px) {

    html, body, .body {
        height: initial;
    }

    body{
        overflow: initial;
    }

    nav{
        display: none;
    }

    .containe {
        flex-direction: column-reverse;
        margin-bottom: 62px;
    }

    .description {
        width: 100%;
        text-align: justify;
        padding: 20px 0px;
        margin: 40px 0 80px 0;
    }

    .description .right{
        text-align: center;
    }

    .description .lastName, .description .firstName{
        margin: 20px 0;
    }

    .description h1 {
        text-align: center;
        padding: 0 10%;
        font-size: 38px;
    }
    .description p {
        margin: 0;
        padding: 0 10%;
        font-size: 21px;
    }
    .description a {
        padding: 0 10%;
        font-size: 21px;
    }

    .image img {
        width: 100%;
    }

    .image {
        width: 100%;
    }
}