@import url("/style/commun/commun.css");
@import url("/style/commun/btn.css");
@import url("/style/commun/card.css");

.container {
    width: 1100px;
    margin: 0px auto 0px auto;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    z-index: 0;
    background: var(--white);
}

.imgIntro {
    width: 100%;
    height: 400px;
    background: url(/img/ImageAccueil.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 0px;
    filter: brightness(90%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgIntro h2 {
    font-size: 45px;
    margin: 240px 0px 0px 0px;
    font-weight: 100;
}

.imgIntro h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 0 0 10px 0;
    letter-spacing: 10px;
}

.imgIntro p {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    letter-spacing: 10px;
}

/*-----------------------------------*/

.intro {
    width: 100%;
    height: 480px;
    display: flex;
    padding: 50px 70px 50px 50px;
    column-gap: 40px;
}

.imgMe{
    width: 50%;
    background: url(/img/imgMe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.textMe {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.textMe h1{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 8px;
    margin: 0 0 10px 0;
}

.textMe p{
    font-size: 15px;
    margin: 0;
    text-align: justify;
    line-height: 28px;
}

.textMe .footer {
    margin-top: auto;
    width: 100%;
    display: flex;
}

.textMe .footer .icones a{
    margin-right: 10px;
    text-decoration: none;
}

.textMe .footer .icones a svg{
    width: 27px;
    height: 24px;
}

.textMe .footer .about{
    margin-left: auto;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}

/*-----------------------------------*/
.parallax {
    /* The image used */
    background-image: url(/img/macarron.png);
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    background-color: var(--white);
    padding: 40px 80px 50px 80px;
    display: flex;
    flex-direction: column;
}
.text h1 {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 10px;
    margin: 0px auto 20px auto;
}
.text p {
    margin: 0px;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
}

.parallax2 {
    /* The image used */
    background-image: url(/img/yhaourt.png);
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*-----------------------------------*/
.Recipe {
    padding: 20px;
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.Recipe  h1{
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 10px;
    margin: 0 auto;
}

.Recipe .vertScroll{
    margin-top: 40px;
    min-height: 400px;
    background-image: url(/img/verScroll.png);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
}

.Recipe .vertScroll:hover{
    transform: scale(1.02);
    transition: .5s;
}

/*-------------------------------*/

.lastPosts {
    margin: 0px 0px;
    padding: 5px;
    background-color: var(--main2);
    width: 100%;
}

.lastPosts h1{
    color: var(--white);
    font-weight:100;
    margin: 15px 0px;
    font-size: 22px;
    letter-spacing: 10px;
}

.lastPosts .title {
    display: flex;
    justify-content: center;
}

.lastPosts .title svg {
    margin: auto 10px;
    width: 7px;
}

.lastPosts .cards{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.lastPosts .card{
    margin: 10px 0px;
}

@media only screen and (max-width: 1100px){ /**Tablette*/
    .container {
        width: 770px;
    }

    .imgIntro {
        height: 300px;
    }

    .intro {
        height: 360px;
    }

    .imgIntro h2 {
        font-size: 33px;
        margin: 180px 0px 0px 0px;
    }
    
    .imgIntro h1 {
        font-size: 38px;
    }
    
    .imgIntro p {
        font-size: 10px;
    }

    /*-----------------------------*/

    .textMe h1{
        font-size: 25px;
        letter-spacing: 8px;
        margin: 0 0 5px 0;
    }
    
    .textMe p{
        font-size: 12px;
        line-height: 18px;
    }

    .textMe .footer .icones a svg{
        width: 24px;
        height: 21px;
    }
    
    .textMe .footer .about{
        letter-spacing: 2px;
        font-size: 10px;
    }

    /*-----------------------------*/
    .text {
        background-color: var(--white);
        padding: 30px 50px 40px 50px;
        display: flex;
        flex-direction: column;
    }
    .text h1 {
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 10px;
        margin: 0px auto 20px auto;
    }
    .text p {
        font-size: 11px;
        line-height: 18px;
    }
    /*-----------------------------*/

    .Recipe p{
        top: 270px;
        right: 30px;
        font-size: 22px;
        width: 250px;
    }

    .Recipe svg{
        top: 325px;
        right: 60px;
        width: 45px; 
    }

    .Recipe a:hover svg{
        width: 55px; 
        right: 30px; 
    }
}

@media only screen and (max-width: 770px){/**Mobile L*/
    .container {
        width: 425px;
    }

    .imgIntro {
        height: 155px;
    }

    .intro {
        height: 185px;
        padding: 20px;
    }

    .imgIntro h2 {
        font-size: 18px;
        margin: 90px 0px 0px 0px;
    }
    
    .imgIntro h1 {
        font-size: 20px;
        letter-spacing: 5px;
    }
    
    .imgIntro p {
        font-size: 5px;
        letter-spacing: 5px;
    }

    
    /*-----------------------------*/

    .intro {
        column-gap: 20px;
    }

    .textMe h1{
        font-size: 12px;
        letter-spacing: 8px;
        margin: 0 0 5px 0;
    }
    
    .textMe p{
        font-size: 7px;
        line-height: 18px;
    }

    .textMe .footer .icones a{
        margin-right: 3px;
    }

    .textMe .footer .icones a svg{
        width: 13px;
        height: 12px;
    }
    
    .textMe .footer .about{
        letter-spacing: 2px;
        font-size: 6px;
    }

    /*-----------------------------*/

    .lastPosts {
        margin: 0px 0px 30px 0px;
    }

    .Recipe {
        margin: 30px 0px 30px 0px;
    }
    
    .Recipe p{
        top: 150px;
        right: 35px;
        font-size: 12px;
        width: 120px;
    }

    .Recipe svg{
        top: 178px;
        right: 30px;
        width: 30px; 
    }

    .Recipe a:hover svg{
        width: 40px;
        right: 10px; 
    }
}

@media only screen and (max-width: 425px){/**Mobile*/

    .container {
        width: 100%;
        background-color: var(--main);
        box-shadow: none;
    }

    .imgIntro {
        background-size: cover;
    }

    .intro {
        flex-direction: column;
        height: auto;
        width: 90%;
        margin: 20px auto;
        background-color: var(--white);
        filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
    }

    .imgMe{
        width: 100%;
        height: 200px;
    }
    
    .textMe {
        width: 100%;
        margin: 0px auto;
    }

    /*-----------------------------*/

    .intro {
        column-gap: 20px;
    }

    .textMe h1{
        font-size: 21px;
        letter-spacing: 8px;
        margin: 10px 0 20px 0;
    }
    
    .textMe p{
        font-size: 12px;
    }

    .textMe .footer {
        margin-top: 20px;
        width: 100%;
        display: flex;
    }

    .textMe .footer .icones a{
        margin-right: 10px;
    }

    .textMe .footer .icones a svg{
        width: 24px;
        height: 21px;
    }
    
    .textMe .footer .about{
        letter-spacing: 2px;
        font-size: 10px;
    }

    /*-----------------------------*/

    .lastPosts {
        margin: 0px 0px;
    }

    .Recipe {
        margin: 0px 10px 10px 10px;
        background-color: var(--white);
        border-radius: 4px;
    }

    .Recipe a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }

    .Recipe img{
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }

    .Recipe p{
        margin: 10px 0px;
        position: inherit;
        height: 20px;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .Recipe svg{
        position: inherit;
        width: 30px; 
        margin: 0px 20px 20px auto;
    }

    .Recipe a:hover svg{
        display: none;
    }
}