@import url("/style/commun/commun.css");
@import url("/style/commun/card.css");

.container {
    width: 1100px;
    margin: 0px auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    background: var(--white);
}

.container .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0;
}

.container .hiden {
    display: none;
}


@media only screen and (max-width: 1100px){
    .container {
        width: 770px;
    }

    .card {
        width: 350px;
    }

    .container .formCreation {
        padding-left: 18px;
    }

    .container .cards {
        justify-content: space-evenly;
    }
}



@media only screen and (max-width: 770px){
    .container {
        width: 425px;
    }

    .container .formCreation {
        padding-left: 28px;
    }
}

@media only screen and (max-width: 425px){/**Mobile*/

    .container {
        width: 100%;
    }

    .container .cards{
        width: 95%;
        margin: 0px auto 0px auto;
    }

    .container .formCreation {
        padding-left: 10px;
    }
}