@import url("/style/commun/commun.css");
@import url("/style/commun/btn.css");
@import url("/style/commun/alert.css");

.container {
    padding: 20px 60px 40px 60px;
    background-color: var(--white);
    width: 1100px;
    margin: 0px auto;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table .actions{
    display: flex;
    align-items: center;
}

td {
padding: 20px;
border-bottom-style: ridge;
}

thead td {
    font-size: large;
    border-bottom-style: outset;
}

.nav {
    font-size: medium;
	display: block;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.nav ul{
	display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.nav ul li{
	list-style: none;
    padding: 0px 20px 0px 0px;
}

.nav ul li a{
	text-decoration: none;
	font-family: 16px 'inter', sans-serif;
    color: var(--text-color);
    transition: 300ms;
}

.nav ul li a:hover {
	color: var(--hover-color);
    transition: 300ms;
}

.nav ul li .active {
	color: var(--active-color);
}

.categorys{
    width: 600px;
    margin: 20px auto 40px auto;
}
  
.categorys thead td:nth-child(1) {
width: 14%;
}

.categorys thead td:nth-child(2) {
width: 42%;
}

.categorys thead td:nth-child(3) {
width: 44%;
}

.flexRow {
    display: flex;
    width: 100%;
}

.flexRow .spaceVer {
    width: 15px;
}


@media only screen and (max-width: 1100px){
    .container {
        width: 770px;
    }
}

@media only screen and (max-width: 770px){
    .container {
        width: 425px;
        padding: 20px 10px 40px 10px;
    }

    .table .actions{
        flex-direction: column;
    }

    .categorys{
        width: 360px;
        margin: 20px auto 40px auto;
    }
    
    .categorys thead td:nth-child(1) {
    width: 14%;
    }

    .categorys thead td:nth-child(2) {
    width: 48%;
    }

    .categorys thead td:nth-child(3) {
    width: 38%;
    }

    .btn_success {
        margin: 1px;
    }
    .btn_danger {
        margin: 1px;
    }
    .btn_primary {
        margin: 1px;
    }

    .text-area {
        height: 300px;
    }
}

@media only screen and (max-width: 425px){
    .container {
        width: 100%;
    }

    .categorys{
        width: 100%;
    }
}