@font-face {
	font-family: "lato-regular";
	src: url('fonts/lato/Lato-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "lato-light";
	src: url('fonts/lato/Lato-Light.ttf');
	font-weight: bolder;
}

@font-face {
	font-family: "lato-lighter";
	src: url('fonts/lato/Lato-Thin.ttf');
	font-weight: lighter;
}

@font-face {
	font-family: "lato-bold";
	src: url('fonts/lato/Lato-Bold.ttf');
	font-weight: bolder;
}

:root{
	--colorTextAcueil: #D1E1EE;
	--transitionOpenNav: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    box-sizing: border-box;
}

h1, h2, p, a {
    font-family: 'lato-light';
    color: var(--colorTextAcueil);
}